@import "../../../../styles/abstract/base";

.button {
    background-color: $secondary;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 25px;
    padding: 2px 4px;
    margin: 2px 4px;
    transition: background-color 0.5s;
    width: 150px;

    &:hover {
        background-color: $primary;
    }

    i {
        margin-right: 5px;
    }
}